<!doctype html>
<title>{% block title %}{% endblock %} - ChattingChit App</title>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'tailwind.css') }}">
</head>

<body class="antialiased text-blue-800 bg-white font-serif max-w-5xl mx-auto p-0 h-screen flex flex-col">
    <div class="p-0">
        <nav class="flex items-center py-2 bg-gray-800 text-white font-bold">
            <div class="flex-auto m-0 font-serif p-2">
                <a href="/">ChattingChit App - {% block header %}{% endblock %}
                </a>
            </div>
            <ul class="flex font-serif p-2">
                {% if g.user %}
                <li><span class="p-1 text-white">{{ g.user['username'] }}</span>
                <li><a class="p-1" href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                <li><a class="p-1" href="{{ url_for('auth.register') }}">Register</a>
                <li><a class="p-1" href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
            </ul>
        </nav>
    </div>
    <section class="font-serif flex-1 overflow-clip">
        {% block content %}{% endblock %}
    </section>
</body>